busmap-cron:
  log_driver: ''
  labels:
    io.rancher.container.pull_image: always
  tty: true
  entrypoint:
  - /app/cron.sh
  log_opt: {}
  image: jaykayone/busmap
  links:
  - 'postgis:'
  stdin_open: true
postgis:
  environment:
    POSTGRES_PASSWORD: xxxx
  log_driver: ''
  labels:
    io.rancher.container.pull_image: always
  tty: true
  log_opt: {}
  image: jaykayone/busmap_pg
  volumes:
  - /pg_data_bus/:/var/lib/postgresql/data
  stdin_open: true
busmap:
  ports:
  - 8081:80/tcp
  log_driver: ''
  labels:
    io.rancher.container.pull_image: always
  tty: true
  log_opt: {}
  image: jaykayone/busmap
  links:
  - 'postgis:'
  stdin_open: true